@use "../../node_modules/utopia-core-scss/src/utopia" as utopia;

/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateTypeScale(
    (
      "minWidth": 360,
      "maxWidth": 1240,
      "minFontSize": 16,
      "maxFontSize": 18,
      "minTypeScale": 1.2,
      "maxTypeScale": 1.25,
      "positiveSteps": 5,
      "negativeSteps": 2,
      "prefix": "step-",
      "relativeTo": "viewport-width",
    )
  );
}

$transition: all 0.3s ease;
$max-content-width: 100rem;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(0.625rem);

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $max-content-width;
    padding: 0 5rem;
    margin: 0 auto;

    @media (width <= 80rem) {
      padding: 0 1.5625rem;
    }
  }

  .logo img {
    display: block;
    height: 2.5rem;
  }
}

.nav-menu {
  display: flex;
  list-style: none;

  li {
    margin-left: 2.5rem;

    a {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 1.1rem;
      font-weight: 500;
      color: #fff;
      text-decoration: none;
      transition: $transition;
    }
  }
}

@media (width >= 80.0625rem) {
  .hamburger {
    display: none;
  }
}

@media (width <= 80rem) {
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    cursor: pointer;

    span {
      display: block;
      width: 1.575rem;
      height: 0.1875rem;
      background-color: #fff;
      transition: $transition;
    }
  }

  .nav-menu {
    position: absolute;
    top: 5rem;
    left: -100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 5rem);
    padding-top: 2.125rem;
    background-color: rgb(0 0 0 / 75%);
    transition: $transition;

    li {
      margin: 1.25rem 0;
    }
  }

  #menu-toggle:checked ~ .nav-menu {
    left: 0;
  }

  #menu-toggle:checked ~ .hamburger {
    span:nth-child(1) {
      transform: translateY(0.5625rem) rotate(45deg);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translateY(-0.5625rem) rotate(-45deg);
    }
  }
}

#menu-toggle {
  display: none;
}

body {
  color: rgb(0 0 0);
  background-image: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)),
    url("../../style/img/star.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
}

p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--step-0);
  font-weight: 300;
  line-height: 1.7;
  color: rgb(255 255 255 / 80%);
  letter-spacing: -0.06rem;
  word-break: keep-all;

  strong {
    font-weight: 400;
    color: #fff;
  }
}

.intro-full-width {
  width: 100%;
  padding: 6.25rem 0;
  margin-top: 5rem;
  margin-bottom: 2rem;
  background: rgb(255 255 255 / 7%);
  backdrop-filter: blur(0.9375rem);

  .intro-content {
    max-width: 75rem;
    padding: 0 2.5rem;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transform: translateY(0);

    &:target .intro-content {
      animation: bounce-up 0.8s ease-out forwards;
    }

    @media (width >= 50rem) {
      padding: 0 3.125rem;
    }

    @media (width >= 80.0625rem) {
      padding: 0 7.5rem;
    }

    .intro-icon {
      width: 2.5rem;
      margin-bottom: 0.0625rem;
    }

    h2 {
      margin-bottom: 0.625rem;
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-2);
      font-weight: 600;
      color: #fff;
      letter-spacing: -0.085rem;
    }

    p {
      max-width: 43.75rem;
      margin: 0 auto;
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-0);
      font-weight: 10;
      color: rgb(255 255 255);
      letter-spacing: -0.06rem;
      word-break: keep-all;
    }
  }
}

.brain-section {
  width: 100%;
  max-width: 100rem;
  padding: 0 7.5rem;
  margin: 0 auto;

  @media (width <= 80rem) {
    padding: 1.25rem 2.5rem;
  }

  .brain-container {
    display: flex;
    gap: 0;
    align-items: center;

    @media (width <= 80rem) {
      flex-direction: column-reverse;
      gap: 2.5rem;
    }
  }

  .brain-img-area {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    img {
      width: 110%;
      max-width: 50rem;
      height: auto;
      filter: drop-shadow(0 0 1.25rem rgb(255 255 255 / 5%));
    }
  }

  .brain-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5625rem;

    h3 {
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-1);
      font-weight: 600;
      color: #fff;
      letter-spacing: -0.0938rem;
    }

    .divider {
      width: 100%;
      height: 0.125rem;
      margin-top: -0.3125rem;
      background: rgb(255 255 255 / 20%);
    }

    p {
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-0);
      font-weight: 10;
      line-height: 1.8;
      color: rgb(255 255 255);
      letter-spacing: -0.06rem;
      word-break: keep-all;

      strong {
        font-weight: 400;
        color: #fff;
      }
    }
  }
}

.video-section {
  width: 100%;
  max-width: 100rem;
  padding: 3.125rem 7.5rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;

  @media (width <= 80rem) {
    padding: 0 2.5rem;
  }

  .brain-container {
    display: flex;
    gap: 3.75rem;
    align-items: flex-start;

    @media (width <= 80rem) {
      flex-direction: column-reverse;
      gap: 2.5rem;
    }
  }

  .brain-video-area {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;

    .video-ratio {
      position: relative;
      width: 95%;
      padding-top: 56.25%;
      overflow: hidden;
      border-radius: 1.25rem;
      box-shadow: 0 1.25rem 2.5rem rgb(0 0 0 / 40%);

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }

  .brain-text {
    display: flex;
    flex: 1.1;
    flex-direction: column;
    gap: 0.375rem;
    width: 100%;

    h3 {
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-1);
      font-weight: 600;
      color: #fff;
      letter-spacing: -0.0938rem;
    }

    .divider {
      width: 100%;
      height: 0.125rem;
      margin: 1.25rem 0;
      background: rgb(255 255 255 / 20%);
    }

    p {
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-0);
      font-weight: 10;
      line-height: 1.8;
      color: rgb(255 255 255);
      letter-spacing: -0.06rem;
      word-break: keep-all;

      strong {
        font-weight: 400;
        color: #fff;
      }
    }

    .result-cases {
      display: flex;
      gap: 2.5rem;
      margin-top: 3.125rem;

      @media (width <= 80rem) {
        flex-direction: column;
        gap: 1.875rem;
      }

      .case {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;

        @media (width <= 80rem) {
          align-items: flex-start;
          text-align: left;
        }

        h4 {
          margin-bottom: 0.75rem;
          font-family: "Noto Sans KR", sans-serif;
          font-size: var(--step-0);
          font-weight: 500;
          color: #fff;
        }

        p {
          margin-bottom: 1.25rem;
          font-family: "Noto Sans KR", sans-serif;
          font-size: var(--step-0);
          line-height: 1.5;
          color: rgb(255 255 255);
        }

        .wave-img {
          width: 100%;
          max-width: 31.25rem;
          height: auto;
          margin: 0 auto 0.625rem;
          margin-bottom: 0.625rem;
          opacity: 0.8;
        }

        .wave-label {
          font-size: 0.85rem;
          color: rgb(255 255 255 / 50%);
        }
      }
    }
  }
}

.conclusion-section {
  width: 100%;
  padding: 3.125rem 0;
  margin: 0 auto;
  text-align: center;
  background: rgb(172 170 170 / 10%);
  backdrop-filter: blur(0.9375rem);

  .logo-content {
    width: 100%;
    max-width: $max-content-width;
    padding: 0 7.5rem;
    margin: 0 auto;
    margin-bottom: 3.75rem;

    @media (width <= 80rem) {
      padding: 0 2.5rem;
    }

    .logo-icon {
      width: 3.125rem;
      margin-top: 2.5rem;
      margin-bottom: 0.0625rem;
    }

    h2 {
      margin-bottom: 0.625rem;
      font-family: "Noto Sans KR", sans-serif;
      font-size: var(--step-2);
      font-weight: 600;
      color: #fff;
      letter-spacing: -0.085rem;
    }
  }

  .card-container {
    display: flex;
    gap: 3.75rem;
    width: 100%;
    max-width: 100rem;
    padding: 0 7.5rem;
    margin: 0 auto;
    margin-bottom: 5rem;

    @media (width <= 80rem) {
      flex-direction: column;
      gap: 3.125rem;
      padding: 0 2.5rem;
    }

    .conclusion-card {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: 1.5625rem;

      .card-img {
        width: 100%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: 0.625rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .conclusion-desc {
        font-family: "Noto Sans KR", sans-serif;
        font-size: var(--step-0);
        line-height: 1.6;
        color: rgb(255 255 255 / 83.3%);
        text-align: left;
        letter-spacing: -0.06rem;
        word-break: keep-all;
      }
    }
  }
}
